<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <springProperty scope="context" name="module_name" source="spring.application.name"/>

    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/${module_name}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ssS} %5p [%c]:%L-%m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <prudent>false</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/${module_name}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!--    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--        <destination>82.156.51.218:8000</destination>-->

    <!--        &lt;!&ndash; encoder is required &ndash;&gt;-->
    <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    <!--    </appender>-->

    <logger name="com.mountslink" level="debug" />
    <logger name="com.scm" level="debug" />
    <logger name="com.zhifeng" level="debug" />
    <logger name="com.xxl.job.core.thread.ExecutorRegistryThread" level="warn" />

    <!-- 屏蔽掉druid版本低下导致的bug error日志信息 -->
    <logger name="com.alibaba.druid.pool.DruidAbstractDataSource" level="OFF"/>

    <root level="info">
        <appender-ref ref="logfile"/>
    </root>

    <!--    <springProfile name="!dev">
            <root level="info">
                <appender-ref ref="stash"/>
            </root>
        </springProfile>-->
</configuration>